<h1>Recipes#edit</h1>
<p>Find me in app/views/recipes/edit.html.erb</p>

<%= form_for @recipe, :url => {:action => "update"} do |f| %>
  <label>Title</label>
  <%= f.text_field :title %>
  <label>Content</label>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>